*{
    background-color: rgb(235, 212, 253);
}

h1{
    display: flex;
    justify-content: center;
    color: white;
    -webkit-text-stroke: 1px black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

p{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', serif;
}

p a:link, a:visited{
    color: black;
    font-size: 18px;
}


p a:hover{
    color: rgba(230, 0, 230, 0.589);
    transition-duration: 0.2s;
    transform: scale(1.1, 1.1)
}

.links{
    margin-top: 80px;
}
